/*Admin social link tab label tooltip*/
.scsm-tooltip {
  position: relative;
  display: inline-block;
}
.scsm-tooltip img{height: 42px!important;}
.scsm-tooltip .scsm-tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 30%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.scsm-tooltip .scsm-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.scsm-tooltip:hover .scsm-tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* admin contact tab label icon*/
.address-field-label-icon{
  font-size: 1em !important;padding-right:6px; color: #333;
}